<%-include('partials/header') %>

<h1 class="homeHeading ">Courses</h1>
<div class="container-fluid">
<div class="row subjectsROW bg-transparent">
  <div class="col ">
    <div class="card courseCards" style="width: 15rem;">
      <img class="subjectIMG" src="images/Layer 1.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">DSA</h5>
                <form method="post" action="/subject">
          <a href="./dashboard" class="card-link"><button type="submit" class="btn btn-primary btn btn-primary slide_left CourseBTN" value="English" name="sub">Buy This Course</button></a>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card  courseCards" style="width: 15rem;">
      <img class="subjectIMG" src="images/ML.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Machine Learning</h5>
        <form method="post" action="/subject">
          <a href="./dashboard" class="card-link"><button type="submit" class="btn btn-primary slide_left CourseBTN" value="Computer Science" name="sub">Buy This Course</button></a>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card courseCards" style="width: 15rem; ">
      <img class="subjectIMG" src="images/WEBD.png" alt="">
      <div class="card-body">
        <h5 class="card-title">Web Devlopment</h5>
        <form method="post" action="/subject">
          <a href="./dashboard" class="card-link"><button type="submit" class="btn btn-primary slide_left CourseBTN" value="Chemistry" name="sub">Buy This Course</button></a>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card courseCards" style="width: 15rem;">
      <img class="subjectIMG" src="images/Layer 3.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">App Devlopment</h5>
        <form method="post" action="/subject">
        <a href="./dashboard" class="card-link"><button type="submit" class="btn btn-primary slide_left CourseBTN" value="Physics" name="sub">Buy This Course</button></a>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card courseCards" style="width: 15rem;">
      <img class="subjectIMG" src="images/CLOUD.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Cloud</h5>
        <form method="post" action="/subject">
        <a href="./dashboard" class="card-link"><button type="submit" class="btn btn-primary slide_left CourseBTN" value="Mathematics" name="sub">Buy This Course</button></a>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<%- include('partials/footer') %>
